# Flutter
.dart_tool/
.packages
.pub/
build/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android
android/.gradle/
android/app/build/
android/local.properties

# Misc
*.log
*.lock
*.iml
.idea/
.vscode/

# MacOS
.DS_Store